.wrapper {
  position: absolute;
  top: 0;
  right: -23px;
  background-color: var(--white);
  width: 6px;
  border: 1px solid;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.bar {
  background-color: var(--fill);
  position: absolute;
  height: 100%;
  width: 9px;
  top: 100%;
}
