*,
html {
  box-sizing: border-box;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  margin: 5px;
}

.grow {
  flex-grow: 1;
}

.full-width {
  width: 100%;
}

.center {
  justify-content: center;
  align-items: center;
}

.between {
  justify-content: space-between;
  align-items: center;
}

.container {
  border: 1px solid;
  border-radius: 20px;
  padding: 15px;
}

.small-container {
  border: 1px solid;
  border-radius: 15px;
  padding: 5px 20px;
}

.no-border {
  border: none;
}

.margin-top-bottom {
  margin-top: 15px;
  margin-bottom: 15px;
}

.gap {
  gap: 10px;
}

.large-gap {
  gap: 50px;
}

.flex-row {
  display: flex;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
}
