.wrapper {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid;
  position: relative;
}

.keyboard {
  display: flex;
}

.key {
  margin: 5px;
  width: 55px;
  height: 100px;
  border: 3px solid;
  border-radius: 20px;
  cursor: pointer;
  background-color: #242424;
  transition: background-color 0.3s;
}

.active {
  background-color: var(--fill);
}

.blackRow {
  margin-left: 30px;
  position: relative;
  top: 40px;
}

.space {
  border: none;
  cursor: default;
  background-color: transparent;
}

.toolbar {
  width: 100%;
  margin-bottom: -40px;
  display: flex;
  justify-content: space-between;
}

.toolbar div{
  display:flex;
  gap:10px;
}
