.wrapper {
  display: flex;
  flex-direction: column;
  color: var(--white);
}

.wrapper button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color:var(--white);
}

.controls {
  display: flex;
  justify-content: center;
  gap: 17px;
  position: relative;
}

.controls span{
  top: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  position: absolute;
}
