.wrapper {
  padding: 5px;
}

.controlls {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  align-items: center;
  width: 100%;
  padding: 15px;
  padding-right: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
